{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=127.0.0.1;Port=5432;Database=Nalib;Username=username;Password=strong_password;"
  },
  "NoSQLConnection": {
    "ConnectionString": "mongodb://username:strongpassword@localhost:27017/?authMechanism=DEFAULT",
    "DatabaseName": "LibraryDB",
    "CatalogCollectionName": "Catalogs",
    "CatalogsEventsCollectionName": "CatalogsEvents",
    "ResourceTypesCollectionName": "ResourceTypes"
  },
  "Jwt": {
    "Issuer": "Nalib",
    "Audience": "Nalib",
    "Key": "7xg8vysaqj2exi3k6z4w1b7y8z2x9c5v",
    "Duration": 2
  }
}
